<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.microelectronic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Setting"
            android:label="@string/setting"
            android:parentActivityName=".Main2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main2Activity" />
        </activity>
        <activity
            android:name=".AddressBook"
            android:label="@string/address_book"
            android:parentActivityName=".Main2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main2Activity" />
        </activity>
        <activity
            android:name=".WishList"
            android:label="@string/my_wish_list"
            android:parentActivityName=".Main2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main2Activity" />
        </activity>
        <activity
            android:name=".MyOrder"
            android:label="@string/my_order"
            android:parentActivityName=".Main2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main2Activity" />
        </activity>
        <activity
            android:name=".ShoppingCart"
            android:label="@string/shopping_cart"
            android:parentActivityName=".Main2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main2Activity" />
        </activity>
        <activity
            android:name=".AboutUs"
            android:label="@string/about_us"
            android:parentActivityName=".Main2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main2Activity" />
        </activity>
        <activity
            android:name=".Order"
            android:label="@string/my_order"
            android:parentActivityName=".Main2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main2Activity" />
        </activity>
        <activity
            android:name=".Login"
            android:parentActivityName=".Main2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main2Activity" />
        </activity>
        <activity
            android:name=".Register"
            android:parentActivityName=".Login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Login" />
        </activity>
        <activity android:name=".UserProfile" />
        <activity android:name=".home1" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Myaccount"
            android:parentActivityName=".Main2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main2Activity" />
        </activity>
        <activity
            android:name=".PlaceOrder"
            android:parentActivityName=".Main2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main2Activity" />
        </activity>
        <activity
            android:name=".Address"
            android:parentActivityName=".AddressBook">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AddressBook" />
        </activity>
        <activity
            android:name=".AddressNew"
            android:parentActivityName=".AddressBook">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AddressBook" />
        </activity>
        <activity android:name=".OrderNew" />
        <activity android:name=".UpdateAddress" />
    </application>

</manifest>